	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<!-- disables caching -->
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="expires" content="-1">
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="stylesheet.css">
	<link rel="stylesheet" href="hoverEffect.css">

	<title><%= title %></title>
	
