<nav class="navbar navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/index">Travel Experts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <form class="form-inline mt-2 mt-md-0" action="/login_form" method="post">
                    <input class="form-control mr-sm-2" type="text" placeholder="Email" aria-label="Email"
                        name="CustEmail">
                    <input class="form-control mr-sm-2" type="password" placeholder="Password"
                        aria-label="Password" name="CustFirstName">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                </form>
            </li><br />
            <li class="nav-item"> <a class="nav-link" href="/index">Travel Experts Home</a>
            <li class="nav-item"> <a class="nav-link" href="/ContactUs">Contact Us</a>
            <li class="nav-item"> <a class="nav-link" href="/vacayPackages">Vacation Packages</a>
            </li>
        </ul>
    </div>
</nav>
