<!doctype html>
<html class="h-100" lang="en">
<head>
	<meta name="author" content="Sarah Hanson">
	<% include ./partials/commonHeaderContent.ejs %> 
	<% include ./partials/bootStrapScripts.ejs %>
</head>
<body>

	<% include ./partials/navBar.ejs %> 

	<div class="row">
		<!-- Info Column -->
		<div class="col-md-6">
			<div class="jumbotron bg-light absolute-top m-2 p-1 pt-5 see-through">
				<h1 id="featureTitle" class="display-4"><u> Feature Trip Title </u></h1>
			</div>
			<div class="jumbotron bg-light m-2 p-1 see-through">
				<h5 id="featureBlurb"> Trip blurb goes here <h5>
			</div>
			<div class="jumbotron bg-light m-2 p-1 see-through">
				<h5 id="featureDetails"> Trip details go here <h5>
			</div>
		</div>
			<!-- Picture and button -->
		<div class="col-md-6 col-lg-5 col-xl-4">
			<div class="container md-2 absolute-top mt-3 pt-5">
				<img src="" id="featureIMG" class="img-responsive img-fluid m-2 p-1 rounded-circle">
			</div>
			<div class="d-flex justify-content-center">
				<button type="button" class="btn btn-lg btn-secondary align-self-center" id="featureBtn"> Book Now </button>
			</div>
		</div>
	</div>
	<% getDetails() %>
</body>
</html>