<!DOCTYPE html>
<html>

<head>
	<meta name="author" content="Wade Grimm">

	<title>User Exists</title>
</head>

<body>

	<script>
		alert("Information already exists, please correct data or login");
        setTimeout(function(){window.location.href ="\\registration"}, 100);
    </script>
</body>

</html>