<!DOCTYPE html>
<html>

<head>
	<meta name="author" content="Wade Grimm">

	<title>User Exists</title>
</head>

<body>

	<script>
		//alert("Information already exists, please correct data or login");
        //setTimeout(function(){window.open('','_self').close();}, 10000);
        // setTimeout(function(){
        //     window.open("", "_parent");
        //     window.close();
        // }, 10000);
        setTimeout(function(){window.location.href ="\\registration"}, 10000);
    </script>
    Information already exists, please correct data or login
</body>

</html>