<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="author" content="Wade Grimm">
    <!-- Include CSS from remote location and file -->
    <script src="wg-functions.js"></script>
        <!-- Include JavaScripts for Navbar animation and functionality -->
	<% include ./partials/bootStrapScripts.ejs %> 
    <% include ./partials/commonHeaderContent.ejs %> 
</head>

<body>
    <div class="container-fluid jumbotron sticky-top jumbo-bg fill ">
        <!-- Main div-->
        <!-- Add Navigation bar -->
        <% include ./partials/navBar.ejs %> 
        
        <div class="section jumbotron see-through small-pad col-md-6">
            <!-- Section div -->
            <form id="regForm" method="post" action="/post_form" target="_blank" class="display-7 font-weight-bold">
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="firstname">First Name</label>
                        <input type="text" class="form-control" id="firstname" placeholder="First Name" name="firstname"
                            onblur="if(this.value != ''){this.style.backgroundColor = ''}else{this.style.backgroundColor = '#f0cccc'};">
                    </div>
                    <div class="form-group col-6">
                        <label for="lastname">Last Name</label>
                        <input type="text" class="form-control" id="lastname" placeholder="Last Name" name="lastname"
                            onblur="if(this.value != ''){this.style.backgroundColor = ''}else{this.style.backgroundColor = '#f0cccc'};">
                    </div>
                </div>
                <div class="form-row ">
                    <div class="form-group col">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"
                            name="address"
                            onblur="if(this.value != ''){this.style.backgroundColor = ''}else{this.style.backgroundColor = '#f0cccc'};">
                    </div>
                </div>
                <div class="form-row ">
                    <div class="form-group col">
                        <label for="inputAddress2">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2"
                            placeholder="Apartment, studio, or floor" name="address2">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" placeholder="City or Town" id="inputCity" name="city"
                            onblur="if(this.value != ''){this.style.backgroundColor = ''}else{this.style.backgroundColor = '#f0cccc'};">
                    </div>
                    <div class="form-group col-4">
                        <label for="inputprov">Prov</label>
                        <select id="inputprov" class="form-control" name="prov"
                            onblur="if(this.value != ''){this.style.backgroundColor = ''}else{this.style.backgroundColor = '#f0cccc'};">
                            <option value="" hidden>Please Select</option>
                            <option value="AB">Alberta</option>
                            <option value="BC">British Columbia</option>
                            <option value="MB">Manitoba</option>
                            <option value="NB">New Brunswick</option>
                            <option value="NL">Newfoundland and Labrador</option>
                            <option value="NS">Nova Scotia</option>
                            <option value="ON">Ontario</option>
                            <option value="PE">Prince Edward Island</option>
                            <option value="QC">Quebec</option>
                            <option value="SK">Saskatchewan</option>
                            <option value="NT">Northwest Territories</option>
                            <option value="NU">Nunavut</option>
                            <option value="YT">Yukon</option>
                        </select>
                    </div>
                    <div class="form-group col-2">
                        <label for="inputpostal">Postal Code</label>
                        <input type="text" class="form-control" placeholder="P0S T4L" id="inputpostal" name=" postal"
                            onblur="if(fnValidatePostal(this.value)){this.style.backgroundColor = ''}else{this.style.backgroundColor = '#f0cccc'};">

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="homephone">Home Phone</label>
                        <input type="text" class="form-control" id="homephone" placeholder="(403)555-5555"
                            name="homephone"
                            onblur="if(this.value != ''){this.style.backgroundColor = ''}else{this.style.backgroundColor = '#f0cccc'};">
                    </div>
                    <div class="form-group col-6">
                        <label for="busphone">Business Phone</label>
                        <input type="text" class="form-control" id="busphone" placeholder="(403)555-5555"
                            name="busphone"
                            onblur="if(this.value != ''){this.style.backgroundColor = ''}else{this.style.backgroundColor = '#f0cccc'};">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
                    </div>
                    <div class="form-group col-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password"
                            name="password">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary"
                    onclick="return fnFormValidate();">Register</button>&nbsp;&nbsp;
                <button type="reset" class="btn btn-secondary" onclick="fnClearForm();">Reset</button>
            </form>
        </div> <!-- Section div -->
    </div><!-- Main div-->


</body>

</html>