<!DOCTYPE html>
<html>

<head>
	<meta name="author" content="Wade Grimm">

	<title>Data Accepted</title>
</head>

<body>

	<script>
		alert("Registration accetped");
		setTimeout(function(){window.location.href = "\index"}, 10000);
	</script>
</body>

</html>