<!DOCTYPE html>
<html>

<head>
	<meta name="author" content="Wade Grimm">

	<title>Data Accepted</title>
</head>

<body>

	<script>
		alert("Thanks for submitting");
		setTimeout(function(){window.location.href = "\\index"}, 100);
	</script>
	
</body>

</html>