<!--
	Created by Wade Grimm, Contributions by Sarah
-->
<!DOCTYPE html>
<html>

<head>
	<meta name="author" content="Wade Grimm">
	<% include ./partials/bootStrapScripts.ejs %> 
	<% include ./partials/commonHeaderContent.ejs %> 
	
	<script>
			alert('<%=  popText %>');
			setTimeout(function(){window.location.href = '\\'+'<%=  dest %>'}, 100);
	</script>
	
	
</head>

<body>

	
</body>

</html>