<!DOCTYPE html>
<html>
  <head>
	<meta name="author" content="Sarah Hanson">
	<% include ./partials/bootStrapScripts.ejs %> 
	<% include ./partials/commonHeaderContent.ejs %> 
  </head>
  <body>
  	<% include ./partials/navBar.ejs %> 
	
	<h1> <%- pkgList %>
	

  </body>
</html>